name: PKUAutoSubmit

on:
  schedule:
    - cron: '0 4 * * *'
    
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v2
        
      - name: 'Set up Python'
        uses: actions/setup-python@v1
        with:
           python-version: 3.7
           
      - name: 'Install requirements'
        run: pip install selenium
        
      - name: 'Working'
        run: |
          sudo cp -p ./chromedriver/bin/chromedriver /usr/bin/
          chmod -R 777 /usr/bin/chromedriver
          chmod -R 777 ./chromedriver/bin/chromedriver
          python main.py --ID ${{secrets.ID}} --PASSWORD ${{secrets.PASSWORD}} --MAIL_ADDRESS ${{secrets.MAIL_ADDRESS}} --PHONE_NUMBER ${{secrets.PHONE_NUMBER}} --SENDKEY ${{secrets.SENDKEY}}
          

